<a href="https://colab.research.google.com/github/TaylorL74/data-and-python/blob/main/01_Working_with_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with data
---

### Exercise 1 - numerical data - whole numbers (_int_)
The cell below contains a **function** that:

*  creates a variable called **num** to store a whole number with value 3  
 `num = int(3)`
*  creates a new, second variable called **num_plus_one** to hold the result of adding 1 to `num`  
`num_plus_one = num + 1`
*  prints the new data  
`print(num_plus_one)`

If the function has been written properly, it will print 4 (this is the test).  

Run the function (click on the play button in the top left corner of the code box).

In [2]:
def add_one():
  # code instructions added below here, and indented to show that they belong to the function
  num = int(450)
  num_plus_one = num + 1
  print(num_plus_one)


add_one()

451

### Have a play with this function

1. Change the number called num to the number 345, run the code and it should print 346.
2. Change num to another number, run the code and check that it prints the correct answer
3.  Change num to "two" (written exactly as it is).  Run the code - it will crash and show the error message "ValueError: invalid literal for int() with base 10: 'two'" at the bottom of the error text.  This means that it couldn't process the data as it was a word rather than a number.  Change it to the number 2 and the code should run and give the answer 3

----
### Exercise 2 - processing numerical data using decimal numbers (_float_)

Have a go at writing this function (the code is included to help you).  
*  create two variables **num1** and **num2** and assign them each a whole number  
`num1 = float(28.5)` and `num2 = float(32.67)`   
*  create a third variable **total** which will store the sum of num1 + num2    
`total = num1 + num2`  
*  print the total  
`print(total)`    

Run the function to test that you get the **expected output 61.17**.  

Then change the value of one of the numbers and run the code again to get a new total.

In [5]:
def calculate_total():
  # add your code below here
  num1 = float(2887.9)
  num2 = float(356.7)
  total = num1 + num2
  print(total)




calculate_total()

3244.6

### Have a play with this function

1. Change the number called num1 to the number 345, run the code and it should print 377.67.
2. Change num2 to another  (either a whole number or a decimal number - floats can cope with both), run the code and check that it prints the correct answer
3.  Change num1 to "56.7" (written with the quotes).  Run the code - it will crash and show the error message "ValueError: invalid literal for int() with base 10: '56.7'" at the bottom of the error text.  This means that it couldn't process the data as it was a word rather than a number, even though it looks like a number (the "" identify it as text).  Change it to the number 2 and the code should run and give the answer 3

---
### Exercise 3 - categorical data - text
*  create a variable called **name** and assign it the value "Billy" with the quotes  
`name = "Billy"`
*  create a variable called **age** and assign it the value "18" with the quotes  
`age = "18"`  
* create a variable called **message** and assign it the value of all the parts of the message joined together  
`message = "Hello " + name + " you are " + age + " years old."`
*  print the message  
`print(message)`

**Expected output**:  
Hello Billy you are 18 years old

In [8]:
def show_message():
  # add your code below here
  name = "Billy"
  age = str(25)
  message = "Hello " + name + " you are " + age + " years old"
  print(message)

show_message()

Hello Billy you are 25 years old

### Have a play with this function

1. Change the name to "Indira", run the code to see the change.
2. Change age to another number,  run the code and check that it prints the correct answer
3. Change age to 25 (written without the quotes, so it is a number).  Run the code - it will crash and show the error message "TypeError: can only concatenate str (not "int") to str" at the bottom of the error text.  This means that it couldn't join the text together as the age was a number and not text.  

When adding things together, the variables must be of the same type. Try this:  change *age = 25* to *age = str(25)*.  It should now work correctly and give the message "Hello Indira you are 25 years old."

---
### Exercise 4 - numerical data collected from the user

The cell below contains the same **function** used in Exercise 1 but this time the data will come from the user as a keyboard input rather than generated by the code, and it will add 5 instead of 1:

*  creates a variable called **num** to store a whole number entered from the keyboard  
`num = int(input("Please enter a whole number: "))`
*  creates a new, second variable called **num_plus_five** to hold the result of adding 5 to `num` (as in Exercise 1)  
*  prints the new data (as in Exercise 1)  

If the function has been written properly, and you have entered 3 when asked, it will print **8** (this is the **expected output**).  

Run the function (click on the play button in the top left corner of the code box).

In [11]:
def add_five():
  # add your code, indented, below here
  num = int(input ("Please input a whole number: "))
  num_plus_5 = 5 + num
  print(num_plus_5)



add_five()

Please input a whole number: 1.1

ValueError: invalid literal for int() with base 10: '1.1'

### Have a play with this function

1. Run the code with a different whole number entered.
2. Run the code with a decimal number entered (it should crash with a message saying "ValueError" as it can't convert the number from the keyboard if it doesn't look like a whole number)

----
### Exercise 5 - processing numerical data using decimal numbers (_float_) entered by the user

Have a go at writing this function (the code is included to help you).  
*  create two variables **num1** and **num2** and ask the user to enter a whole number for each  
`num1 = float(input("Please enter a decimal number: "))` and `num2 = float(input("Please enter a decimal number: "))`   
*  create a third variable **total** which will store the sum of num1 + num2    
`total = num1 + num2`  
*  print the total  
`print(total)`    

Run the function to test that you get the **expected output 61.17** when inputting the values 28.5 and 32.67.

In [14]:
def calculate_float_total():
  # add your code, indented, below here
  num1 = float(input("Please input a decimal number: "))
  num2 = float(input("Please input a second decimal number: "))
  Total = num1 + num2
  print(Total)



calculate_float_total()

Please input a decimal number: 45
Please input a second decimal number: 89
134.0

### Have a play with this function

1. Try different decimal numbers and check that you get the expected output.
2. Try entering whole numbers - it should still work as it just assumes the decimal point with .00 if it isn't there.
3. Try entering words rather than numbers, you will get a ValueError

---
### Exercise 6 - categorical data - text and numbers from the keyboard
*  create a variable called **name** and ask the user to enter a name on the keyboard  
`name = input("Please enter a name: ")`
*  create a variable called **age** and ask the user to enter an age on the keyboard  
`age = input("Please enter an age: "`)  
* create a variable called **message** and assign it the value of all the parts of the message joined together  
`message = "Hello " + name + " you are " + age + " years old."`
*  print the message  
`print(message)`

**Expected output if user enters Billy and 18**:  
Hello Billy you are 18 years old

In [18]:
def show_message_with_keyboard_input():
  # add your code below here
  name = input("please enter a name: ")
  age = input("please enter an age: ")
  message = "Hello " + name + " you are " + age + " years old."
  print(message)


show_message_with_keyboard_input()

please enter a name: Bean
please enter an age: Cloud
Hello Bean you are Cloud years old.

### Have a play with this function

1. Try different names and ages and check that you get the expected output.
2. Try entering a word for the age - it should still work as it is just expecting some text for the age (but the output will not make sense).

---
### Exercise 7 - numerical data collected from a file

The cell below contains the same **function** used in Exercise 1 but this time the data will come from file input rather than generated by the code, and it will add 5 instead of 1.  It:

*  opens the file called `whole_number.txt` (which is in the `worksheet_data` folder:  
`with open("worksheet_data/whole_number.txt", "r") as datafile:`  
in read-only mode, `"r"`, and gives it an alias name, **`datafile`**
*  creates a variable called **num** to store a whole number read from `datafile`  
`num = int(datafile.readline())`
*  creates a new, second variable called **num_plus_five** to hold the result of adding 5 to `num` (as in Exercise 1)  
*  prints the new data (as in Exercise 1)  

If the function has been written properly, and you have accessed the correct file, it will print **8** (this is the **expected output**).  

Run the function (click on the play button in the top left corner of the code box).

In [25]:
def add_five_to_file_num():
  with open("Worksheet data/decimal_numbers.txt", "r") as datafile:
    # add your code below, indented to align with the hash at the start of this comment
    num = float(datafile.readline())
    num_plus_five = 5 + num
    print(num_plus_five)

add_five_to_file_num()

10.6

### Have a play with this function

1. Try using the file `decimal_numbers.txt`, which contains 2 decimal numbers rather than one whole number.  To do this, just change the name of the file from `whole_number.txt` to `decimal_numbers.txt`.

----
### Exercise 8 - processing numerical data using decimal numbers (_float_) entered by the user

Have a go at writing this function (the code is included to help you, and is set to read from the `decimal_numbers.txt` file).  
*  open the file `decimal_numbers.txt`, in read-only mode, with the alias `datafile` (the code is included for you)   
*  create two variables **num1** and **num2** and ask the user to enter a whole number for each  
`num1 = float(datafile.readline())` and `num2 = float(datafile.readline())`   
*  create a third variable **total** which will store the sum of num1 + num2    
`total = num1 + num2`  
*  print the total  
`print(total)`    

Run the function to test that you get the **expected output 39.6**.

In [27]:
def calculate_floats_from_file_total():
  with open("Worksheet data/decimal_numbers.txt", "r") as datafile:
    # add your code below, indented to align with the hash at the start of this comment
    num1 = float(datafile.readline())
    num2 = float(datafile.readline())
    total = num1 + num2
    print(total)




calculate_floats_from_file_total()

39.6

### Have a play with this function

1. Try adding a third variable called `num3` and read the data from the file.  You will get a ValueError as there are no more numbers in the file to be read.

---
### Exercise 9 - categorical data - text and numbers from a file
*  open the file `message_info.txt` in read-only mode, giving it the alias `datafile` (code is included for you)
*  create a variable called **name** and ask the user to enter a name on the keyboard  
`name = datafile.readline()`
*  create a variable called **age** and ask the user to enter an age on the keyboard  
`age = datafile.readline()`  
* create a variable called **message** and assign it the value of all the parts of the message joined together  
`message = "Hello " + name + " you are " + age + " years old."`
*  print the message  
`print(message)`

**Expected output if user enters Billy and 18**:  
```
Hello Billy
 you are 18
 years old
```
The different output is because the file data will have a new line after each piece of data.  This can be removed but we won't do that now.

In [34]:
def show_message_with_file_data():
  with open("Worksheet data/message_info.txt", "r") as datafile:
    # add your code below, indented to align with the hash at the start of this comment
    name = datafile.readline()
    age = datafile.readline()
    message = "Hello " + name + " you are " + age + " years old"
    print(message)


show_message_with_file_data()

Hello Billy you are
 years old

### Have a play with this function

1. Try changing the file so that you read the `decimal_numbers.txt` file instead.  This file also has two pieces of data, and it is also text data, so the code should work but the output will look strange.

---
# Takeaways from this worksheet

* coding is a valuable skill
* coding is useful for repetitive data tasks and processing that is non-standard
* data can be collected from a range of sources, including self-generated, from users or from files
* python code should be organised into functions, this is good practice
* you can add comments to code
* int() and float() are numeric data types and you should convert to the right data type when you create data for a new variable.
* strings are indicated by "" but you can use str() to force data to be text
* errors are nothing to be worried about, they help you to learn and will eventually help you to write better code.

---
# Your thoughts on what you have learnt
Please add some comments in the box below to reflect on what you have learnt through completing this worksheet, and any problems you encountered while doing so.